/* Style untuk body */
body {
  background-color: #343a40;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Style untuk judul utama */
p {
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

.card {
  background-color: #212529;
  border-radius: auto;
  box-shadow: 2px 2px 2px #000;
  transition: all 0.3s ease;
}

/* Style untuk teks pada card */
.card-body h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  color: #fff;
}

/* Style untuk header pada card */
.card-header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

/* Style untuk hover pada card */
.card:hover {
  transform: scale(1.09);
  box-shadow: 5px 5px 5px #000;
}

/* Style untuk select negara */
#country-select {
  text-align: center;
  color: #fff;
  background-color: #343a40;
}

#country-select:hover {
  cursor: pointer;
}

/* Style untuk input select negara */
.form-control {
  border: none;
  background-color: #343a40;
  color: #fff;
}

/* Style untuk input select negara pada focus */
.form-control:focus {
  outline: none;
  border-bottom: 2px solid #343a40;
  box-shadow: none;
}
